ul{
	background-color: #FF4040;
	text-align: center;
	padding: 4px;
	margin-left: 0px;
	
}
ul li{
	display: inline;
	margin-left: 10px;
}
ul li a{
	color: #EEC900; 
	text-decoration: none;
	font-size: 14pt;
}
header{
	margin-top:-22px;
	font-size: 14pt;
	font-family: Verdana;
	background-color:#7CCD7C;
	text-align:center;
	
	
}
footer{
	margin-top:100px;
	padding:100;
	background-color: darkblue;
	color: white;
	font-family: "Comic Sans MS";
	font-size: 14pt;
	text-align: center;
	clear: both;
}
form{
	background-color:#D3D3D3;
	text-align:center;
	margin:0 auto;
	width:700px;
	height:500px;
}
.comb{
    width: 40px;    
    height: 30px;
}
fieldset{
	border-bottom-width:2px;
	border-color:gren;
	margin-top:2px;
	text-align:center;
	margin:0 auto;
	width:670px;
	height:400px;
	border-radius: 3px;
	
}
h2{
	text-align:center;
}


.login{
	background-color:#4682B4;
	text-align:center;
	margin:0 auto;
	width:300px;
	height:150px;
	
}

table{
	border: 1px;
	
	margin:0 auto;
	
}
td{
	border-style: solid;
	border:2px;
	color:black;
}
img{
	
        margin-top:-15px;
        padding: 2px;
  
    }
    .btn btn-info btn-lg{
        float: center;  
        margin: 0 auto;
    }
    .center2{
        width: 250px;
        height: 200px;
        margin-left: 300px;
        float: right;
    }